{{#section 'title'}}
Dashboard
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/dashboard.js"></script>
{{/section}}
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			{{> dashboard/panel}}
		</div>
		<div class="col-sm-9 col-xs-12 padd10 my-bg-transparent">
			{{#if account_info}}
			{{> dashboard/account-info-content}}
			{{else if feedback_info}}
			{{> dashboard/feedback-info-content}}
			{{else if watch_list}}
			{{> dashboard/watchlist-content}}
			{{else if bidding_list}}
			{{> dashboard/bidding-content}}
			{{else if win_list}}
			{{> dashboard/winlist-content}}
			{{else if selling_list}}
			{{> dashboard/selling-content}}
			{{else if sold_list}}
			{{> dashboard/sold-content}}
			{{/if}}
		</div>
	</div>
	<div class="modals-wrapper">
		{{> dashboard/modals}}
	</div>
</div>