{{#section 'title'}}
Auction detail
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/auction/{{cat_id}}">{{cat_name}}</a></li>
		<li class="active">{{auc_title}}</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/auction-detail.css">
{{/section}}
{{#section 'js'}}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=8c7gqhjcct98asiggtdqyix3fzf7p1rud8rdcatjt9fpxrf9"></script>
  <script>tinymce.init({ selector:'#add_content'});</script>
  <script type="text/javascript" src="/assets/_js/auction-detail.js"></script>
  <script type="text/javascript" src="/assets/_js/add-to-watchlist-form.js"></script>
{{/section}}
<div class="container my-bg-transparent">
	
	<!-- auction detail -->
	<div class="auction-detail">
		<div class="row  padd10 auction-review">
			<div class="col-sm-12 col-md-6 auction-slide-wrap">
				<div class="carousel slide auction-slide" id="auction-photo-carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner cont-slider" style="height: 400px;">
						{{#each auc_imgs}}
						<div class="item {{#if isActive}}active{{/if}}">
							{{{content}}}
						</div>
						{{/each}}
					</div>
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{{#each auc_imgs}}
						<li class="{{#if isActive}}active{{/if}}" data-slide-to="{{index}}" data-target="#auction-photo-carousel">
							{{{content}}}
						</li>
						{{/each}}
					</ol>
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#auction-photo-carousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#auction-photo-carousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div style="height: 100px;"></div>
			</div>
			<div class="col-sm-12 col-md-6 auction-info-wrap">
				<div class="col-sm-12 h1 padd10 auction-title w3-theme">
					<div>{{{auc_title}}}</div>
					<div>
					{{#if isInWatchlist}}
						<span class="label label-danger"><span class="glyphicon glyphicon-heart"></span>(Followed)</span>
					{{else}}
						<a href data-action-href="/auction/{{cat_id}}/{{auc_id}}/add-to-watchlist" class="link-unstyled link-add-to-watchlist" style="margin-right: 0;">
                        <span class="label label-success"><span class="glyphicon glyphicon-heart"></span>Add to watchlist</span>
                    </a>
					{{/if}}
					</div>
				</div>
				<div class="col-sm-12 h3 padd10 auction-price">
					<div class="clearfix">
						<div class="h3 auc-current-price text-center">
							<div>Current Price</div>
							<div>{{formatCurrency current_price}}</div>
							{{#if isOwner}}
							{{else if has_winner}}
							{{else}}
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#bid-Modal">Bid Now</button>
							{{/if}}
						</div>
						{{#if has_buyout}}
						<div class="h3 auc-buyout-price text-center">
							<div>Buy out Price</div>
							<div>{{formatCurrency buyout_price}}</div>
							{{#if isOwner}}
							{{else if has_winner}}
							{{else}}
							<button type="button" form="buy-form" id="btn-buy" class="btn btn-success">Buy Now</button>
							{{/if}}
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-sm-12 h3 padd10 auction-time">
					<div class="hidden">
						<span class="start-date-string">{{start_date_string}}</span>
						<span class="end-date-string">{{end_date_string}}</span>
					</div>
					<div class="h3 col-sm-12 text-center auc-timer">
						<div>Time left</div>
						<span class="label label-warning text-timer">
							<span class="t-days">0</span><span>&nbsp;days&nbsp;</span>
							<span class="t-hrs">0</span><span>&nbsp;:</span>
							<span class="t-mins">0</span><span>&nbsp;:</span>
							<span class="t-secs">0</span><span></span>
						</span>
						<span class="label label-default text-over">Over!</span>
					</div>
					<div class="h5 col-sm-12 col-md-6">
						<span>Started on: </span><span class="label label-info start-date-text"></span></h5>
					</div>
					<div class="h5 col-sm-12 col-md-6">
						<span>End on: </span><span class="label label-info end-date-text"></span>
					</div>
				</div>
				<div class="col-sm-12 h3 padd10 auction-seller">
					Seller: <a href="/seller/{{seller_id}}">{{seller_id}}</a>
					<span class="label label-danger"><span class="glyphicon glyphicon-star">{{seller_point}}</span></span>
				</div>
				<div class="col-sm-12 h3 padd10 auction-bid">
					<div class="col-sm-12 col-md-6">
						<span>Bids: </span>
						<span class="label label-info">{{auc_bids}}</span>
						{{#if has_bidder}}
						<span class="h6"><span class="glyphicon glyphicon-list-alt"></span><a href="/auction/{{cat_id}}/{{auc_id}}/auction-bidlog"> bid history</a></span>
						{{/if}}
						
					</div>
					{{#if has_bidder}}
					<div class="h4 col-sm-12 col-md-6">
						<span>Highest bidder: </span>
						{{#if isOwner}}
						<a href="/seller/{{auc_highest_full}}">{{auc_highest_full}}</a>
						{{else}}
						<span class="label label-info">{{auc_highest}}</span>
						{{/if}}
						<span class="label label-danger"><span class="glyphicon glyphicon-star">{{auc_highest_point}}</span></span>
					</div>
					{{/if}}
					<div class="h4 col-sm-12 col-md-6 offset-md-6">
						Bid increment: <span class="label label-info">{{bid_increment}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row padd10 auction-description">
			<div class="col-sm-12 h1">
				<span>Description</span>
				{{#if isOwner}}
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#add-info-Modal">Add Info</button>
				{{/if}}
			</div>
			<div class="col-sm-12" id="desc_container">
				{{{auc_description}}}
			</div>
		</div>
	</div>
	{{> auction/auction-detail-modals}}
	{{> auction/add-to-watchlist-form}}
</div>