{{#section 'title'}}
Auction bidlog
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{auc_title}} - bid history</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/auction-detail.css">
{{/section}}
{{#section 'js'}}
  <script type="text/javascript" src="/assets/_js/delete-account-bid.js"></script>
{{/section}}

<div class="container my-bg-transparent">

	<div class="auction-bidlog" style="padding: 30px;">
		<div class="row">
			
			<form method="post" action="/auction/{{cat_id}}/{{auc_id}}/auction-bidlog/delete-account-bid" id="frmDeleteAccountBid">
				<input type="hidden" name="bid-id" id="bid-id" style="margin-left: 200px;">
				<input type="hidden" name="account-id" id="account-id" style="margin-left: 200px;">
			</form>
			{{#if isOwner}}
			<div>
				<table>
					<thead>
						<tr>
							<th style="width: 200px;">bid-id</th>
							<th style="width: 200px;">Account-id</th>
							<th style="width: 500px;">Date-Time</th>
							<th style="width: 100px;">Price</th>
							<th>&nbsp;</th>

						</tr>
					</thead>
					<tbody>
						{{#each bidlogger}}
							<tr>
								<td>#{{id}}</td>
								<td><a href="/seller/{{account-id}}">{{account-id}}</a></td>
								<td>{{date}}</td>
								<td>{{price}}</td>
								<td>	
									<a href="javascript:;" class="btn btn-xs btn-danger deleteAccountBid" data-account-id="{{account-id}}" data-bid-id="{{id}}">
										<span class="glyphicon glyphicon-remove"></span>
									</a>

								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
			<div>
				<table>
					<thead>
						<tr>
							<th style="width: 200px;">bid-id</th>
							<th style="width: 200px;">Account-id</th>
							<th style="width: 500px;">Date-Time</th>
							<th style="width: 100px;">Price</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{{#each bidlogger}}
							<tr>
								<td>#{{id}}</td>
								<td>{{account-id}}</td>
								<td>{{date}}</td>
								<td>{{price}}</td>		
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{/if}}
		</div>
	</div>
</div>