{{#section 'title'}}
Create new auction
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Create new auction</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/create-auction.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/create-auction.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=8c7gqhjcct98asiggtdqyix3fzf7p1rud8rdcatjt9fpxrf9"></script>
<script>tinymce.init({ selector:'#auc_desc' });</script>
{{/section}}
<div class="container padd10 my-bg-transparent">
	<div class="page-header padd10">
		<h1>Create new auction <br> <small>(The more information, the more bidder)</small></h1>
	</div>
	<div class="padd10 info-auction">
		<form id="form-create-auction" method="post" enctype="multipart/form-data" action="/auction/create/response">
			
			<fieldset class="info-image padd10">
				<legend>Choose images</legend>
				<label class="padd10">Maximum 3 images, at least 1 images. (*)</label>
				<div class="row image-input-list">
				</div>
			</fieldset>
			<div class="padd10"></div>
			<fieldset class="info-detail padd10">
				<legend>Auction Information</legend>
				<div class="form-group">
					<label for="auc_title">Auction Title (*)</label>
					<input type="text" class="form-control" id="auc_title" name="auc_title" required placeholder="Name of bid item">
				</div>
				<div class="form-group">
					<label for="auc_category">Choose category:</label>
					<select class="form-control" name="auc_category" id="auc_category">
					{{#each layoutVM.categories}}
						<option value="{{id}}">{{name}}</option> 
					{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="auc_desc">Auction Description (*)</label>
					<textarea class="form-control" rows="10" id="auc_desc" name="auc_desc" placeholder="Detail information about your item"></textarea>
				</div>
			</fieldset>
			<div class="padd10"></div>
			<fieldset class="info-price padd10">
				<legend>Prices</legend>
				<div class="form-group col-sm-4 col-xs-12">
					<label for="price_start">Start Price (*)</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="number" id="price_start" name="price_start" required step="0.01" min="0.01" class="form-control" placeholder="Amount">
					</div>
				</div>
				<div class="form-group col-sm-4 col-xs-12">
					<label for="price_buyout">Buyout Price</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" id="has_buyout_price" name="has_buyout_price" value="yes" aria-label="...">
							<input type="checkbox" hidden checked id="has_buyout_price" name="has_buyout_price" value="no">
						</span>
						<div class="input-group-addon">$</div>
						<input type="number" id="price_buyout" name="price_buyout" class="form-control" aria-label="..." step="0.01" min="0.01"  value="10">
					</div>
				</div>
				<div class="form-group col-sm-4 col-xs-12">
					<label for="bid_increment">Bid Increment (*)</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="number" required step="0.01" min="0.01" class="form-control" id="bid_increment" name="bid_increment" value="1">
					</div>
				</div>
			</fieldset>
			<div class="padd10"></div>
			<fieldset class="time-info padd10">
				<legend>Time Information</legend>
				{{!-- <div class="form-group col-sm-6 col-xs-12">
					<label for="StartTime">Start Time (*)</label>
					<input type="datetime-local" required class="form-control" id="StartTime" name="time-start">
				</div> --}}
				<div class="form-group col-xs-12">
					<label for="date_end">End Date (*)</label>
					<input type="datetime-local" id="date_end" name="date_end" required class="form-control">
					<input type="text" hidden name="date_end_string" id="date_end_string">
				</div>
				<div class="form-group col-xs-12">
					<label>Auto extend end time (10 minutes): </label>
					<label class="radio-inline">
						<input type="radio" name="plus_minute" value="10">
						Yes
					</label>
					<label class="radio-inline">
						<input type="radio" checked name="plus_minute" value="0">
						No
					</label>
				</div>
			</fieldset>
			<div class="text-center padd20">
				<button type="submit" id="create-btn" class="btn btn-success">Create</button>
			</div>
		</form>
	</div>
	
</div>