{{#section 'title'}}
Create auction result
{{/section}}

<div class="container padd10 my-bg-transparent">
{{#if isSuccess}}
	<div class="text-center">
		<h1 class="text-success">Create auction success</h4>
		<p>congratulation! Your auction started!</p>
	</div>
{{else}}
	<div class="text-center">
		<h1 class="text-warning">Create auction fail</h4>
		<p>Error happened!</p>
	</div>
{{/if}}
</div>