{{#section 'title'}}
Auction list
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {{#if onlyStringOrCategorySearch}}
        <li class="active">{{result_name}}</li>
        {{else}}
        <li><a href="/auction/{{cat_id}}">{{cat_name}}</a></li>
        <li class="active">{{result_name}}</li>
        {{/if}}
    </ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/list-auction.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/list-auction.js"></script>
<script type="text/javascript" src="/assets/_js/add-to-watchlist-form.js"></script>
{{/section}}
<div class="container padd10 my-bg-transparent">
    <div class="row">
        <div class="col-sm-3 col-xs-12 category-panel-wrap">
            {{#if isEmpty}}
            {{else}}
            {{>category-panel}}
            {{/if}}
        </div>
        <div class="col-sm-9 col-xs-12 result-wrap">
            <div class="row padd10 results-title w3-text-theme">
            {{#if onlyCategorySearch}}
                 <h2>{{result_name}}: {{result_count}} results</h2>
            {{else}}
                 <h2>Search results for '{{result_name}}': {{result_count}} results</h2>
            {{/if}}
            </div>
            <div class="row">
                <div class="btn-group col-sm-6">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{#if order_default}}Sort{{else}}{{order}}{{/if}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                    {{#if hasQueryString}}
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?q={{{query_string}}}&order=end_asc"><strong class="text-danger">Time end:</strong> soon to late</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?q={{{query_string}}}&order=end_desc"><strong class="text-danger">Time end:</strong> late to soon</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?q={{{query_string}}}&order=price_desc"><strong class="text-alert">Curren price:</strong> high to low</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?q={{{query_string}}}&order=price_asc"><strong class="text-alert">Curren price:</strong> low to high</a></li>
                    {{else}}
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?order=end_asc"><strong class="text-danger">Time end:</strong> soon to late</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?order=end_desc"><strong class="text-danger">Time end:</strong> late to soon</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?order=price_desc"><strong class="text-alert">Curren price:</strong> high to low</a></li>
                        <li><a href="{{#if noCategory}}/search{{else}}/auction/{{cat_id}}{{/if}}?order=price_asc"><strong class="text-alert">Curren price:</strong> low to high</a></li>
                    {{/if}}
                    </ul>
                </div>
            </div>
            <div class="padd10"></div>
            <!-- auction list -->
            <div class="padd10">
                {{#each auctions}}
                <div class="col-sm-6 col-md-4 auction-cell">
                    <div class="thumbnail">
                        <div class="auc-image">
                            {{#if isNew}}
                            <div class="badge badge-notify"><h3>New</h3></div>
                            {{/if}}
                            <a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
                        </div>
                        <div class="caption">
                            <div class="h4 auc-title ellipsis">
                                <a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_title}}}</a>
                            </div>
                            <div class="h4">
                            {{#if isInWatchlist}}
                                <span class="label label-danger"><span class="glyphicon glyphicon-heart"></span>(Followed)</span>
                            {{else}}
                                <a href data-action-href="/auction/{{cat_id}}/{{auc_id}}/add-to-watchlist" class="link-unstyled link-add-to-watchlist" style="margin-right: 0;">
                                    <span class="label label-success"><span class="glyphicon glyphicon-heart"></span>Add to watchlist</span>
                                </a>
                            {{/if}}
                            </div>
                            <div class="auc-bids-wrapper">
                                <div class="h5 ellipsis text-center" style="padding: 5px;">
                                    <span class="label label-default">Seller</span><span>&nbsp;</span><a href="/seller/{{seller_id}}">{{seller_id}}</a>
                                </div>
                                
                                <div class="h5 ellipsis text-center" style="padding: 5px;">
                                    <span class="label label-default">Highest bidder</span><span>&nbsp;</span>
                                    <span class="text-success">
                                        <strong>{{#if has_bidder}}{{auc_highest}}{{else}}NO ONE{{/if}}</strong>
                                    </span>
                                </div>
                                
                                <div class="h5 ellipsis text-center" style="padding: 5px;">
                                    <span class="label label-default">Bids</span><span>&nbsp;</span><span class="text-success"><strong>{{auc_bids}}</strong></span>
                                </div>
                            </div>
                            <div class="h4 auc-timer text-center">
                                <span class="hidden end-date-string">{{end_date_string}}</span>
                                <span class="label label-warning text-timer">
                                    <span class="t-days">0</span><span>&nbsp;days&nbsp;</span>
                                    <span class="t-hrs">00</span><span>&nbsp;:</span>
                                    <span class="t-mins">00</span><span>&nbsp;:</span>
                                    <span class="t-secs">00</span><span></span>
                                </span>
                                <span class="label label-default text-over">Over!</span>
                            </div>
                            <div class="clearfix">
                                <div class="h4 auc-current-price">
                                    <div>Current</div>
                                    <div class="ellipsis">{{formatCurrency current_price}}</div>
                                </div>
                                {{#if has_buyout}}
                                <div class="h4 auc-buyout-price">
                                    <div>Buyout</div>
                                    <div class="ellipsis">{{formatCurrency buyout_price}}</div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> auction/add-to-watchlist-form}}
    
    <!-- page nav-->
    {{#if hidePageNav}}
    {{else}}
    <nav class="row padd10" aria-label="Page navigation" style="text-align: right;">
        <ul class="pagination">
            {{!-- <li>
                <a class="w3-hover-theme" style="display: none;" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li> --}}
            {{#each pages}}
            <li class="{{#if isActive}}active{{/if}}">
            {{#if isActive}}
                <span>{{num}}</span>
            {{else}}
                {{#if ../order_default}}
                    {{#if ../hasQueryString}}
                    <a href="{{#if ../noCategory}}/search{{else}}/auction/{{../cat_id}}{{/if}}?q={{{../query_string}}}&page={{num}}">{{num}}</a>
                    {{else}}
                    <a href="{{#if ../noCategory}}/search{{else}}/auction/{{../cat_id}}{{/if}}?page={{num}}">{{num}}</a>
                    {{/if}}
                {{else}}
                    {{#if ../hasQueryString}}
                    <a href="{{#if ../noCategory}}/search{{else}}/auction/{{../cat_id}}{{/if}}?q={{{../query_string}}}&order={{{../order_string}}}&page={{num}}">{{num}}</a>
                    {{else}}
                    <a href="{{#if ../noCategory}}/search{{else}}/auction/{{../cat_id}}{{/if}}?order={{{../order_string}}}&page={{num}}">{{num}}</a>
                    {{/if}}
                {{/if}}
            {{/if}}
            </li>
            {{/each}}
            {{!-- <li>
                <a class="w3-hover-theme" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li> --}}
        </ul>
    </nav>
    {{/if}}
    
</div>