{{#section 'title'}}
Transaction Result
{{/section}}
<div class="container padd10 my-bg-transparent">
{{#if isBuy}}
	{{#if buySuccess}}
	<div class="text-center">
		<h1 class="text-success">Buy success</h4>
		<p>congratulation! You bought success!</p>
	</div>
	{{else}}
	<div class="text-center">
		<h1 class="text-warning">Buy fail</h4>
		<p>Error happened!</p>
	</div>
	{{/if}}
{{else}}
	{{#if bidSuccess}}
	<div class="text-center">
		<h1 class="text-success">Make bid success</h4>
		<p>congratulation! You are the highest bidder now!</p>
	</div>
	{{else}}
	<div class="text-center">
		<h1 class="text-warning">Make bid fail</h4>
		<p>Error happened!</p>
	</div>
	{{/if}}
{{/if}}
</div>