{{#section 'title'}}
Seller info
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Seller detail - <span>{{userID}}</span></li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/seller.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/seller.js"></script>
{{/section}}
<div class="container">
	<div class="seller-rating-wrapper padd10 my-bg-transparent">
		<legend class="h1 w3-text-theme">Seller's Rating</legend>
		<div class="seller-info">
			<div class="avatar padd10 text-center col-sm-3 col-xs-12">
				<img src="/assets/images/avatar.png" alt="..." class="img-circle">
				<div class="username">
					<span class="label label-default">ID</span>
					<span class="label label-success">{{userID}}</span>
				</div>
			</div>
			<div class="rating padd10 col-sm-9 col-xs-12">
				<div class="rating-label col-sm-6 col-xs-6">
					<div class="label-good h3">
						<span class="label label-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;very good</span>
					</div>
					<div></div>
					<div class="label-bad h3">
						<span class="label label-default"><span class="glyphicon glyphicon-minus"></span>&nbsp;very bad</span>
					</div>
					<div></div>
					<div class="label-total h1">
						<span class="label label-danger"><span class="glyphicon glyphicon-star"></span>&nbsp;Total</span>
					</div>
					<div></div>
					<div class="h5">
						<span class="label label-primary">Percent</span>
					</div>
				</div>
				<div class="rating-point col-sm-6 col-xs-6">
					<div class="label-good h3">
						<span class="label label-success">&nbsp;{{plus_point}}</span>
					</div>
					<div></div>
					<div class="label-bad h3">
						<span class="label label-default">&nbsp;{{minus_point}}</span>
					</div>
					<div></div>
					<div class="label-total h1">
						<span class="label label-danger">&nbsp;{{total_point}}</span>
					</div>
					<div></div>
					<div class="h5">
						<span class="label label-primary">&nbsp;{{percent}}%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padd20"></div>
	<div class="seller-feedback-wrapper padd10 my-bg-transparent">
		<legend class="h1 w3-text-theme">Feedback and Comments</legend>
		<div class="seller-feedback">
			<div class="h3 page-header">
				<small class="pull-right">{{total_feedbacks}} comments</small>
			</div>
			<div class="pre-scrollable">
				<ul class="list-group padd10">
					{{#each feedbacks}}
						<li class="list-group-item {{#if isPlus}}list-group-item-success{{else}}list-group-item-danger{{/if}}">
							<div class="media">
								<p class="pull-right"><span class="badge "><span class="glyphicon {{#if isPlus}}glyphicon-plus{{else}}glyphicon-minus{{/if}}"></span></span></p>
								<a class="media-left" href="">
									<img class="avatar-comment img-circle" src="/assets/images/avatar.png">
								</a>
								<div class="media-body">
									<h4 class="media-heading user_name">{{from_id}}</h4>
									<p>{{comment}}</p>
									{{#if isWinner}}
									<p><small>( winner of auction: <a class="auction-feedback-link link-unstyled" href="/auction/{{cat_id}}/{{auc_id}}">{{auc_title}}</a> )</small></p>
									{{else}}
									<p><small>( Seller of auction: <a class="auction-feedback-link link-unstyled" href="/auction/{{cat_id}}/{{auc_id}}">{{auc_title}}</a> )</small></p>
									{{/if}}
									<span hidden class="date-string-span">{{date_string}}</span>
									<p><small>Send at: <span class="date-span"></span></small></p>
								</div>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<div class="padd20"></div>
	<div class="seller-auction-wrapper padd10 my-bg-transparent">
		<legend class="h1 w3-text-theme">Selling Auctions</legend>
		<div class="seller-auction-list padd10">
			<div class="h3 page-header">
				<small class="pull-right">Total: {{total_auctions}} items</small>
			</div>
			<div class="pre-scrollable">
				<ul class="list-group padd10">
				{{#each auctions}}
					<li class="list-group-item list-group-item-success">
						<div class="media">
							<p class="pull-right"><span class="badge ">Opening</span></span></p>
							<a class="media-left" href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="/auction/{{cat_id}}/{{auc_id}}">{{auc_title}}</a></h4>
								<h5>Current price: <span>{{current_price}}</span></h5>
								<h5>Buyout price: <span>{{buyout_price}}</span></h5>
								<h5>Bids: <span>{{auc_bids}}</span></h5>
								<h6><span class="hidden date-string-span">{{end_date_string}}</span>
								<span>End date: </span><span class="date-span"></span></h6>
							</div>
						</div>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>