{{#section 'title'}}
Dashboard
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/admin-dashboard.js"></script>
{{/section}}
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			{{> admin/panel}}
		</div>
		<div class="col-sm-9 col-xs-12 padd10 my-bg-transparent">
			{{#if account_info}}
			{{> admin/account-info-content}}
			{{else if manage_users}}
			{{> admin/manage-users-content}}
			{{else if manage_category}}
			{{> admin/manage-category-content}}
			{{else if request}}
			{{> admin/request-content}}
			{{/if}}
		</div>
	</div>
	<div class="modals-wrapper">
		{{> dashboard/modals}}
	</div>
</div>