{{#section 'title'}}
Add category
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/admin-dashboard.js"></script>
{{/section}}


<div class="panel-content-wrapper" style="margin-left: 300px;">
	<h1>Add category</h1>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<form method="post" action="">
				<div class="form-group">
					<label for="txtCatName">Category Name</label>
					<input type="text" class="form-control" id="txtCatName" placeholder="name" name="name">
				</div>
				<div class="form-group">
					<label for="txtCatDesc">Description</label>
					<input type="text" class="form-control" id="txtCatDesc" placeholder="description" name="description">
				</div>
				<button type="submit" class="btn btn-success">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</form>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<a href="/admin/manage-category" class="btn btn-default" title="back">
				<span class="glyphicon glyphicon-backward"></span>
			</a>
		</div>
	</div>
</div>