{{#section 'title'}}
Edit category
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#with category }}
<div class="panel-content-wrapper">
	<div class="container">
		<h1>Edit Category</h1>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<form method="post" action="">
					<div class="form-group">
						<label for="txtCatID">Category ID</label>
						<input type="text" class="form-control" id="txtCatID" placeholder="name" name="id" value="{{id}}" readonly>
					</div>
					<div class="form-group">
						<label for="txtCatName">Category Name</label>
						<input type="text" class="form-control" id="txtCatName" placeholder="name" name="name" value="{{name}}">
					</div>
					<div class="form-group">
						<label for="txtCatName">Description</label>
						<input type="text" class="form-control" id="txtCatName" placeholder="description" name="description" value="{{description}}">
					</div>
					<a href="/admin/manage-category" class="btn btn-default" title="back">
						<span class="glyphicon glyphicon-backward"></span>
					</a>
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-check"></span>
					</button>
				</form>
			</div>
		</div>
		<br/>
	</div>
</div>
{{/with}}