body {
  word-wrap: break-word;
  text-align: left;
}

.auction-title {
  color: #0066CC;
  background-color: #fff;
  border-radius: 10px;
}
.auction-price {
  color:#fff !important; background-color:#f44336 !important
}
.auction-price .auc-current-price {
   width: 45%; float: left;
   border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}
.auction-price .auc-buyout-price {
   width: 45%; float: right;
   border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.auction-time, .auction-seller, .auction-bid {
  background-color: #b1b8e3;
}

.auction-description {
  background-color: #b1b8e3;
}

.text-over {
  color: #f00;
  background-color: #fff;
}

.padd10 {
  border-radius: 10px;
}
/*.auction-price, .auction-description {
  background-color: #a3c97c;
  padding: 10px;
}*/

/*.auction-info-wrap, .auction-slide-wrap{
  padding-left: 30px;
}*/

/* Indicators list style */
.auction-slide .carousel-indicators {
  bottom: -100px;
  left: 0px;
  margin-left: 5px;
  width: 100%;
  float:left;
}
/* Indicators list style */
.auction-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 54px;
  float:left;
  border-radius: 10px;

}
/* Indicators images style */
.auction-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  float: left;
  left: 0;
  height: 54px;
  width: 54px;
}
/* Indicators active image style */
.auction-slide .carousel-indicators .active img {
  border: 2px solid #009688;
  opacity: 0.7;
}
.auction-slide .carousel-inner .item {
  width: auto;
}
.auction-slide .carousel-inner .item img {
  margin: auto;
}

.auction-slide .carousel-control {
    width:  4%; 
}
.auction-slide .carousel-control.left,.auction-slide .carousel-control.right {
    background-image:none;
    height: 60px;
    width: 60px;
    margin: auto;
    color: #000;
}