/*text*/
.my-text-date {
	color: red;
}
.my-text-money {
	color: #3333ff; 
	font-size: 16px; 
	font-weight: bold;
}

.my-text-bidder {
	color: #ac00e6;
}

/*.checkbox+.checkbox{
	margin-top: 10px;
}
.radio+.radio{
	margin-top: 10px;
}
.radio-add{
	float: left; 
	width: 80px; 
	margin-left: 10px;
}
.info-content-btn{
	margin-left: 150px; 
	margin-top: 30px;
}
*/
.status-notify-label{
	/*float: left;
	padding-left: 100px;*/
	line-height: 37px;
}

.status-bidding{
	/*width: 100%; 
	height: 37px;*/
}
.status-bidding-label{
	/*float: left; */
	 
	line-height: 37px;
}
.status-bidding-btn{
	/*float: left; 
	margin-left: 20px; */
	line-height: 37px;
}
.item-detail{
	margin-top: 15px;
	border-bottom: 1px solid #000;
}
.mar-top10{
	margin-top: 10px;
}
.mar-top15{
	margin-top: 15px;
}
.item-detail-first{
	/*width: 220px;
	height: 100%;*/ 
	/*float: left;*/
}
.item-detail-second{
	/*width: 300px; 
	height: 100%;*/ 
	/*float: left;*/ 
	/*margin-left: 30px;*/
	text-align: left;
}
.item-name a{
	padding-top: 10px; 
	font-size: 18px;
}
.favor-color{
	color: #99979C;
}
.u-max-bid-money{
	font-weight: bold; 
	color: #99979C;
}
.item-detail-third{
	/*float: left; 
	width: 150px; 
	height: 100%; */
	text-align: left;
}
.span-timeleft{
	color: orange; 
	font-weight: bold;
}
.item-detail-fourth{
	/*float: left; 
	width: 150px;
	height: 100%;*/
	text-align: left;
}
.span-item-cost{
	color: green; 
	font-size: 16px; 
	font-weight: bold;
}
.item-detail-fifth{
	/*float: left; 
	width: 180px; 
	height: 100%*/
	text-align: left;
}
.btn a {
	text-decoration: none;
}

/*feedback content*/
legend {
    width: auto !important;
    border: none;
    font-size: 25px;
}

.seller-feedback img {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border: 2px solid #0066CC;
}

.seller-auction-list img {
    background-color: #fff;
    width: 100px;
    height: 200px;
    border: 2px solid #0f0;
}

.seller-rating {
    background-color: #ff0;
    border-radius: 25px;
    border: 5px solid #009688;
}

.pre-scrollable {
    background-color: #f5f5f0;
    height: 300px;
    border: 5px solid #009688;
    padding-right: 30px;
    padding-left: 30px;

}
.list-group-item-success {
    background-color: #33cc33;
    color: #fff;
}
.list-group-item-danger {
    background-color: #4d4d4d;
    color: #fff;
}
.auction-feedback-link {
    color: #f00 !important;
}
.user_name {
	color: #00f !important;
}

.auc-image {
	height: 200px;
	overflow: hidden;

}
.auc-image img {
    width: auto;
    max-height: 100%;
}