.title-description-left a{
	color: black;
}
.info-description-left{
	font-size: 18px;
	color: #999
}
.info-description-left ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.info-description-left li{
	float: left;
	margin-right: 15px;
}
.pad-col-9{
	padding-right: 1px;
}
.pad-col-3{
	padding: 0px;
}
.new-row{
	margin-top: 50px;
}
.carousel-inner .item .caption {
background: rgba(255,255,220,0.6);
right: 0;
}

.carousel-inner .item img {
	width: auto;
    max-height: 100%;
}


.carousel-indicators li {
	background-color: gray;
}
.carousel-indicators li.active {
	background-color: green;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    height: 40px;
    width: 40px;
    margin: auto;
    color: #000;
}


.auc-image {
	height: 400px;
	overflow: hidden;

}
.auc-image img {
    max-width: 100%;
    max-height: 100%;
}

.badge-notify{
   background:red;
}
.auc-title {
	text-align: center;
	color: #0066CC;
	padding: 5px;
	/*border: solid 2px #000 !important;*/
}

.auc-bids-wrapper { 
	border: 1px solid gray;
}

.auc-timer {
	/*text-align: center;*/
}

.auc-current-price {
	width: 45%; float: left;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	padding: 5px;
}

.auc-buyout-price {
	width: 45%; float: right;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	padding: 5px;
}

.text-over {
	color: #fff !important;
	background-color: #C80032;
}

.my-text {
	color: #fff !important;
	background-color: #C80032;
	border: solid 2px #000;
	padding: 2px;

}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}