@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese'); 

body {
    font-family: 'Quicksand', sans-serif;

}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-form .input-group {
display: table;
}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn {
white-space: nowrap;
width: 1%;
}
.navbar-form .input-group .form-control {
width: 100%;
}
.navbar-form .input-group .form-control {
width: 100%;
}
.navbar-default {
color: #ffffff;
padding: 10px;
}
/* Title */
/* Link */
.navbar-default .navbar-nav > li > a {
color: #fff;
}
.breadcrumb {
color:#000 !important; background-color:#dfdfdf !important;
}

.navbar-avatar {
	margin-left: 10px;
}
.navbar-avatar img {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.my-bg-transparent{
    background: rgba(233, 255, 253,0.5);
    border-radius: 20px;box-shadow: 0 0 16px #000;
    overflow: auto;
}
.content{
    background: url("/assets/images/bg-image.jpg");
}

.mybox {
	border-radius: 20px;box-shadow: 0 0 16px #fff;overflow: hidden;
background: rgba(255,255,255,0.6);
}

footer {
height: 100px;
color: #ffffff;
}
body {
  background-color: #fff;
}
.padd10 {
padding: 10px;
}
.padd20 {
padding: 20px;
}
.martop50{
    margin-top: 50px;
}

.content {
padding-top: 100px;
}
.clearfix {
overflow: auto;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
color: inherit;
text-decoration: inherit;
}
.logo {
background-color: #fff;
}
.category-panel a:hover{
	color:#fff !important;
	background-color:#009688 !important;
}

.w3-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-d3 {color:#fff !important; background-color:#00685d !important}
.w3-theme-d4 {color:#fff !important; background-color:#005950 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004a43 !important}

.w3-theme-light {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-dark {color:#fff !important; background-color:#004a43 !important}
.w3-theme-action {color:#fff !important; background-color:#004a43 !important}

.w3-theme {color:#fff !important; background-color:#009688 !important}
.w3-text-theme {color:#009688 !important}
.w3-border-theme {border-color:#009688 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009688 !important}
.w3-hover-text-theme:hover {color:#009688 !important}
.w3-hover-border-theme:hover {border-color:#009688 !important}