.thumbnail img {
  height: 250px;
  left: 0;
}


.thumbnail{
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
	}
	.thumbnail:hover{
		box-shadow: 0px 0px 16px #000;
	}

.auction-cell {
  padding: 5px;
}

.badge-notify{
   background:red;
}

.auction-cell .caption {
	color:#000;
	background-color:#b7fff8;
}

.auc-image {
	height: 250px;
	overflow: hidden;

}
.auc-image img {
    width: auto;
    max-height: 100%;
}


/*body {
	 word-wrap: break-word;
}*/

/*.padd10 {
	border: solid 2px #000 !important;
}*/
.auc-title {
	text-align: center;
	color: #0066CC;
	padding: 5px;
	/*border: solid 2px #000 !important;*/
}
/*.auc-seller {
	width: 50%; float: left;
	color: #C80032;
	padding: 5px;
}
.auc-bids {
	width: 40%; float: right;
	color: #0066CC;
	padding: 5px;
}
*/

.auc-bids-wrapper { 
	border: 1px solid gray;
}

.auc-timer {
	/*text-align: center;*/
}

.auc-current-price {
	width: 45%; float: left;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	padding: 5px;
}

.auc-buyout-price {
	width: 45%; float: right;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	padding: 5px;
}

.text-over {
	color: #fff !important;
	background-color: #C80032;
}

.my-text {
	color: #fff !important;
	background-color: #C80032;
	border: solid 2px #000;
	padding: 2px;

}

.ellipsis {
/*	border: solid 2px #000 !important;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}