fieldset {
    /*border: solid 2px #009688 !important;
    border-radius: 10PX;
    padding: 0 10px 10px 10px;
    border-bottom: none;

    background-color: #e9fffd;*/
}

legend {
    width: auto !important;
    border: none;
    font-size: 25px;
}
.avatar img {
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 5px solid #0066CC;
}

.seller-info .avatar .username {
    font-size: 20px;
}

.seller-feedback img {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border: 2px solid #0066CC;
}

.seller-auction-list img {
    background-color: #fff;
    width: 100px;
    height: 200px;
    border: 2px solid #0f0;
}

.seller-info .rating {
    background-color: #ff0;
    border-radius: 25px;
    border: 5px solid #009688;
}

.pre-scrollable {
    background-color: #f5f5f0;
    height: 300px;
    border: 5px solid #009688;
    padding-right: 30px;
    padding-left: 30px;

}
.list-group-item-success {
    background-color: #33cc33;
    color: #fff;
}
.list-group-item-danger {
    background-color: #4d4d4d;
    color: #fff;
}
.auction-feedback-link {
    color: #f00;
}
/* Global */
 
/*a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease; 
}*/
    
/*a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-decoration: none;
}*/






ul.thumbnails { 
    margin-bottom: 0px;
}

.carousel-control {
    width:  4%; 
}
.carousel-control.left,.carousel-control.right {
    background-image:none;
    
    color: #000;
}

.carousel-indicators {
    color: black;
    background-color: #000;
    border-radius: 25px;
    opacity: 0.5;
}

.thumbnail img {
  height: 250px;
  left: 0;
}

.text-over {
    color: #fff !important;
    background-color: #C80032;
}

.my-text {
    color: #fff !important;
    background-color: #C80032;
    border: solid 2px #000;
    padding: 2px;

}
.auction-feedback-link {
    color: #f00 !important;
}
.user_name {
    color: #00f !important;
}
.ellipsis {
/*  border: solid 2px #000 !important;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}