<!-- Modal bid now-->
<div id="bid-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Make Bid</h4>
			</div>
			<div class="modal-body">
				<form id="bid-form" method="post" action="/auction/{{cat_id}}/{{auc_id}}/bid">
					<div class="form-group">
						<label for="bid_price">Your MAX Bid</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input type="number" required step="{{bid_increment}}" min="{{min_bid_price}}" class="form-control" id="bid_price" name="bid_price" value="{{min_bid_price}}">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="btn-bid" form="bid-form" class="btn btn-success">Bid now!</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- form buy now -->
<div class="hidden">
	<form id="buy-form" method="post" action="/auction/{{cat_id}}/{{auc_id}}/buy">
		<input type="text" name="buynow" value="buynow">
	</form>
</div>
<!-- Modal update description-->
<div id="add-info-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add description information.</h4>
			</div>
			<div class="modal-body">
				<form id="add-info-form" method="post" action="/auction/{{cat_id}}/{{auc_id}}/edit">
					<div class="form-group">
						<label for="add_content">Content</label>
						<textarea class="form-control" name="add_content" id="add_content" rows="30"></textarea>
					</div>
					<div id="add-info-err-msg" class="text-danger col-xs-12 padd10"></div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="add-info-submit" form="add-info-form" class="btn btn-success">Add</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Success Modals-->
<div id="transaction-result-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-success"></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="add-info-success-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-success">Congratulation!</h4>
			</div>
			<div class="modal-body">
				<p>You update description success!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>