<div class="item {{#if isActive}}active{{/if}}">
	<div class="row">
		<div class="auc-image col-sm-6 text-center">
			<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
		</div>
		<div class="caption col-sm-6">
			{{#if isNew}}
			<div class="badge badge-notify"><h3>New</h3></div>
			{{/if}}
			<div class="h4 auc-title ellipsis">
				<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_title}}}</a>
			</div>
			<div class="h4">
				{{#if isInWatchlist}}
                    <span class="label label-danger"><span class="glyphicon glyphicon-heart"></span>(Followed)</span>
                {{else}}
                    <a href data-action-href="/auction/{{cat_id}}/{{auc_id}}/add-to-watchlist" class="link-unstyled link-add-to-watchlist" style="margin-right: 0;">
                        <span class="label label-success"><span class="glyphicon glyphicon-heart"></span>Add to watchlist</span>
                    </a>
                {{/if}}
			</div>
			<div class="auc-bids-wrapper">
				<div class="h5 ellipsis text-center" style="padding: 5px;">
					<span class="label label-default">Seller</span><span>&nbsp;</span><a href="/seller/{{seller_id}}">{{seller_id}}</a>
				</div>
				<div class="h5 ellipsis text-center" style="padding: 5px;">
					<span class="label label-default">Highest bidder</span><span>&nbsp;</span>
					<span class="text-success">
						<strong>{{#if has_bidder}}{{auc_highest}}{{else}}NO ONE{{/if}}</strong>
					</span>
				</div>
				<div class="h5 ellipsis text-center" style="padding: 5px;">
					<span class="label label-default">Bids</span><span>&nbsp;</span><span class="text-success"><strong>{{auc_bids}}</strong></span>
				</div>
			</div>
			<div class="h4 auc-timer text-center">
				<span class="hidden end-date-string">{{end_date_string}}</span>
				<span class="label label-warning text-timer">
					<span class="t-days">0</span><span>&nbsp;days&nbsp;</span>
					<span class="t-hrs">00</span><span>&nbsp;:</span>
					<span class="t-mins">00</span><span>&nbsp;:</span>
					<span class="t-secs">00</span><span></span>
				</span>
				<span class="label label-default text-over">Over!</span>
			</div>
			<div class="clearfix">
				<div class="h4 auc-current-price">
					<div>Current</div>
					<div class="ellipsis">{{formatCurrency current_price}}</div>
				</div>
				{{#if has_buyout}}
				<div class="h4 auc-buyout-price">
					<div>Buyout</div>
					<div class="ellipsis">{{formatCurrency buyout_price}}</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>