{{#section 'title'}}
Reset password
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#with account }}
<div class="panel-content-wrapper">
	<div class="container" style="margin-left: 400px;">
		<h1>Reset password</h1>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<form method="post" action="">
					<div class="form-group">
						<label for="txtAccID">Account ID</label>
						<input type="text" class="form-control" id="txtAccID" placeholder="name" name="id" value="{{id}}" readonly>
					</div>
					<div class="form-group">
						<label for="txtAccName">Fullname</label>
						<input type="text" class="form-control" id="txtAccName" placeholder="name" name="fullname" value="{{fullname}}" readonly>
					</div>
					<div class="form-group">
						<label for="txtPassword">Password</label>
						<input type="text" class="form-control" id="txtPassword" placeholder="name" name="password" value="{{hashpass}}">
					</div>
					<a href="/admin/manage-users" class="btn btn-default" title="back">
						<span class="glyphicon glyphicon-backward"></span>
					</a>
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-check"></span>
					</button>
				</form>
			</div>
		</div>
		<br/>
	</div>
</div>
{{/with}}