{{#section 'title'}}
Home Page
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/index.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/index.js"></script>
<script type="text/javascript" src="/assets/_js/add-to-watchlist-form.js"></script>
{{/section}}

<div class="container">
	<div id="categories-and-slide" class="row padd10 my-bg-transparent">
		<div class="col-sm-3 col-xs-12">
			{{>category-panel}}
		</div>
		<div class="col-sm-9 col-xs-12">
			<div class="h1 w3-text-theme">Top soonest end</div>
			<div id="end-Carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				{{#each top_end_cells}}
					<li data-target="#end-Carousel" data-slide-to="{{@index}}" class="{{#if isActive}}active{{/if}}"></li>
				{{/each}}
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				{{#each top_end_cells}}
					{{> auction/cell-in-home-page}}
				{{/each}}
				</div>
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#end-Carousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#end-Carousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row padd10 my-bg-transparent martop50">
		<div class="h1 w3-text-theme">Top highest bidder</div>
		<div id="bidder-Carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			{{#each top_bidder_cells}}
				<li data-target="#bidder-Carousel" data-slide-to="{{@index}}" class="{{#if isActive}}active{{/if}}"></li>
			{{/each}}
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			{{#each top_bidder_cells}}
				{{> auction/cell-in-home-page}}
			{{/each}}
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#bidder-Carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#bidder-Carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div class="row padd10 my-bg-transparent martop50">
		<div class="h1 w3-text-theme">Top highest price</div>
		<div id="price-Carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			{{#each top_price_cells}}
				<li data-target="#price-Carousel" data-slide-to="{{@index}}" class="{{#if isActive}}active{{/if}}"></li>
			{{/each}}
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			{{#each top_price_cells}}
				{{> auction/cell-in-home-page}}
			{{/each}}
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#price-Carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#price-Carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{{> auction/add-to-watchlist-form}}
</div>