<!DOCTYPE html>
<html>
	<head>
		<title>{{{_sections.title}}}</title>
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/_css/layout-main.css">
		{{{_sections.css}}}
	</head>
	<body>
		{{> navbar}}
		<!-- content -->
		<div class="content padd10">
			{{{_sections.breadcrumb}}}
			{{{body}}}
		</div>
		<!-- footer -->
		{{> footer}}
		<!-- modals -->
		{{#if cannotLogout}}
			{{> error/logout-modal}}
		{{/if}}
		<script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/_js/layout-main.js"></script>
		{{#if logged_in}}
		{{else}}
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{{/if}}
		{{{_sections.js}}}
	</body>
</html>