<div class="panel panel-default category-panel">
	<div id="panel-heading-bg" class="panel-heading w3-theme">CATEGORIES</div>
	<div class="list-group">
	{{#if hasQueryString}}
		{{#each layoutVM.categories}}
		<a href="/auction/{{id}}?q={{{../query_string}}}" class="list-group-item w3-hover-theme">
			<span class="glyphicon glyphicon-play"></span>
			{{name}}
		</a>
		{{/each}}
	{{else}}
		{{#each layoutVM.categories}}
		<a href="/auction/{{id}}" class="list-group-item w3-hover-theme">
			<span class="glyphicon glyphicon-play"></span>
			{{name}}
		</a>
		{{/each}}
	{{/if}}
	</div>
</div>