<nav class="navbar navbar-default w3-theme navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a style="padding: 0px; margin-right: 10px;" class="navbar-brand" href="/">
				<img class="logo" src="/assets/images/logo.png">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{{#if layoutVM.logged_in}}
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-avatar">
					<a {{#if layoutVM.isAdmin}}href="/admin/account-info"{{else}}href="/dashboard/account-info"{{/if}} style="padding: 0px;">
						<img src="/assets/images/avatar.png" alt="..." class="img-rounded">
						<span class="ellipsis" style="max-width: 150px; display: inline-block;">{{layoutVM.fullname}}</span>
					</a>
				</li>
				<li><a href="/auction/create">Create Auction</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="" id="link-logout" style="color: #fff;" class="w3-theme">Log out</a></li>
					</ul>
				</li>
			</ul>
			{{else}}
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"><b>Login/Register</b></span></a>
				</li>
			</ul>
			{{/if}}
			<form class="navbar-form" role="search" action="/search" method="get">
				<div class="input-group">
				</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="q">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</nav>
{{> navbar-modals}}