{{#if layoutVM.logged_in}}
<form id="form-logout" action="/logout" method="POST">
</form>
{{else}}
<div id="registerModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create new account at RANDOM.abc</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="well">
						<form id="form-register" method="POST" action="/register">
							<div class="col-xs-6">
								<div class="form-group">
									<label for="fullname">Full name</label>
									<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your full name">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" class="form-control" placeholder="example@gmail.com">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" name="username" id="username" class="form-control" placeholder="Choose an username">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" name="password" id="password" class="form-control" placeholder="Password">
								</div>
								<div class="form-group">
									<label for="confirm_password">Confirm password</label>
									<input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm password">
								</div>
							</div>
							<div class="col-xs-12">
								<div class="g-recaptcha" data-sitekey="6LcsFSQUAAAAAGimANUo9g5kaA_urtUBzdM8-LEd"></div>
							</div>
							<div id="registerErrorMsg" class="text-danger col-xs-12 padd10"></div>
							<button type="submit" class="btn btn-success btn-block">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Login to RANDOM.abc</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="well">
							<form id="form-login" method="POST" action="/login">
								<div class="form-group">
									<label for="username" class="control-label">Username</label>
									<input type="text" class="form-control" id="username" name="username" value="" required placeholder="Enter your username">
								</div>
								<div class="form-group">
									<label for="password" class="control-label">Password</label>
									<input type="password" class="form-control" id="password" name="password" value="" required placeholder="Enter your password">
								</div>
								<div id="loginErrorMsg" class="text-danger col-xs-12 padd10"></div>
								{{!-- <div class="checkbox">
									<label>
										<input type="checkbox" name="remember" id="remember"> Remember login
									</label>
									<p class="help-block">(if this is a private computer)</p>
								</div> --}}
								<button type="submit" class="btn btn-success btn-block">Login</button>
								{{!-- <a href="/forgot/" class="btn btn-default btn-block">Help to login</a> --}}
							</form>
						</div>
					</div>
					<div class="col-xs-6">
						<p class="lead">Register now for <span class="text-success">FREE</span></p>
						<ul class="list-unstyled" style="line-height: 2">
							<li><span class="glyphicon glyphicon-ok text-success"></span> Bid or buy your favorites items</li>
							<li><span class="glyphicon glyphicon-ok text-success"></span> Create auction with your items</li>
							<li><span class="glyphicon glyphicon-ok text-success"></span> Save your favorites</li>
							<li><span class="glyphicon glyphicon-ok text-success"></span> And more than</li>
						</ul>
						<p><a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="btn btn-info btn-block">Yes please, register now!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="register-success-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-success">Congratulation!</h4>
			</div>
			<div class="modal-body">
				<p>You create account success! You are now logged in!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="alert-login-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-success">Login first!</h4>
			</div>
			<div class="modal-body">
				<p>You need to login to do this action!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{{/if}}