<div class="panel-content-wrapper">
	<h1>Account Information</h1>
	<div class="row">
		<div class="col-sm-3 col-xs-12 text-center">
			<div id="avatar">
				<img class="img-responsive" src="/assets/images/avatar-male.png">
			</div>
		</div>
		<div class="col-sm-9 col-xs-12">
			<!-- Update password-->
			<fieldset style="border: 1px solid green;" class="padd10">
				<div class="form-group">
					<label for="username"> Username: </label>
					<input type="text" readonly id="username" name="username" class="form-control" value="{{userID}}">
				</div>
				<div>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
				</div>
			</fieldset>
			<hr/>
			<!-- Update email-->
			<form id="form-update-email" action="/dashboard/account-info/update-email" method="post">
				<fieldset style="border: 1px solid green;" class="padd10">
					<div class="form-group">
						<label for="email">Email: </label>
						<input type="email" id="email" name="email" required class="form-control " aria-describedby="email-help-block" value="{{userEmail}}">
						{{#if verified}}
						{{else}}
						<span id="email-help-block" class="help-block">This email is not verified!</span>
						{{/if}}
					</div>
					<div class="text-center">
						<button class="btn btn-primary" id="btn-update-email" type="button">
						<span class="glyphicon glyphicon-refresh"></span>
						Update
						</button>
					</div>
				</fieldset>
			</form>
			<hr/>
			<!-- Update basic info-->
			<form id="form-update-basic-info" action="/dashboard/account-info/update-basic-info" method="post">
			<fieldset style="border: 1px solid green;" class="padd10">
				<div class="form-group">
					<label for="fullname"> Full name: </label>
					<input type="text" id="fullname" name="fullname" required class="form-control" value="{{userFullname}}">
				</div>
				<div class="form-group">
					<label> Gender: </label>
					<label class="radio-inline">
						<input type="radio" name="gender" {{#if isGenderMale}}checked{{/if}} value="male">
						Male
					</label>
					<label class="radio-inline">
						<input type="radio" name="gender" {{#if isGenderMale}}{{else}}checked{{/if}} value="female">
						Female
					</label>
				</div>
				<div class="form-group">
					<label for="dob"> Date of birth: </label>
					<input type="date" id="dob" name="dob" value="{{userDOB}}" class="form-control">
				</div>
				<div class="form-group">
					<label for="phone"> Mobile Phone: </label>
					<input type="text" id="phone" name="phone" value="{{userPhone}}" class="form-control">
				</div>
				<div class="form-group">
					<label for="address"> Address: </label>
					<input type="text" id="address" name="address" value="{{userAddress}}" class="form-control">
				</div>
				<div class="text-center">
					<button class="btn btn-primary" id="btn-update-basic-info" type="button">
					<span class="glyphicon glyphicon-refresh"></span>
					Update
					</button>
				</div>
			</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<h1>Sell Request</h1>
	<div class="padd10">
	{{#if isSeller}}
		<span hidden class="date-string-span">{{expired_date_string}}</span>
		<div class="h3 col-sm-12">
			<span>Your sell account expired date: </span><span class="date-span"></span>
		</div>
	{{/if}}
		<div class="text-center">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#sellRequestModal">Send Extend Request</button>
		</div>
	</div>
</div>