<div class="panel-content-wrapper">
	<font class="title-content">Bidding: {{total}} items</font>
	<hr>
	<div class="content-border">
	{{#each auctions}}
		<div class="item-detail row">
			<div class="item-detail-first auc-image col-sm-3 col-xs-12">
				<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
			</div>
			<div class="item-detail-second col-sm-3 col-xs-12">
				<div class="item-name">
					<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_title}}}</a>
				</div>
				<div class="mar-top10">
					seller: <a href="/seller/{{seller_id}}">{{seller_id}}</a>
				</div>
				{{!-- <div class="mar-top10">
					<font class="favor-color">Your max bid:</font>
					<span class="u-max-bid-money">1,046,000 VND</span>
				</div> --}}
			</div>
			<div class="item-detail-third col-sm-3 col-xs-12 my-text-date">
				<span>End date:</span>
				<span class="hidden date-string-span">{{end_date_string}}</span>
				<span class="date-span"></span>
			</div>
			<div class="item-detail-fourth col-sm-3 col-xs-12">
				<div>
					<span class="my-text-money">{{formatCurrency current_price}}</span>
				</div>
				<div class="mar-top10">
					<span>{{auc_bids}} bids</span>
				</div>
				<div class="mar-top10">
					<span class="my-text-bidder">highest: {{#if has_bidder}}{{auc_highest}}{{else}}NO ONE{{/if}}</span>
					{{#if isYou}}
					<span class="badge">It's you</span>
					{{else}}
					<span class="badge">Not you</span>
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</div>