<div class="panel-content-wrapper">
	<font class="title-content row">Feedback and rating</font>
	<hr>
	<div class="content-border">
		<div class="seller-rating-wrapper padd20 my-bg-transparent">
			<legend class="h1 w3-text-theme">Seller's Rating</legend>
			<div class="seller-rating padd10 row">
				<div class="rating-label col-sm-6 col-xs-6">
					<div class="label-good h3">
						<span class="label label-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;very good</span>
					</div>
					<div></div>
					<div class="label-bad h3">
						<span class="label label-default"><span class="glyphicon glyphicon-minus"></span>&nbsp;very bad</span>
					</div>
					<div></div>
					<div class="label-total h1">
						<span class="label label-danger"><span class="glyphicon glyphicon-star"></span>&nbsp;Total</span>
					</div>
					<div class="h5">
						<span class="label label-primary">Percent</span>
					</div>
					<div></div>
				</div>
				<div class="rating-point col-sm-6 col-xs-6">
					<div class="label-good h3">
						<span class="label label-success">&nbsp;{{plus_point}}</span>
					</div>
					<div></div>
					<div class="label-bad h3">
						<span class="label label-default">&nbsp;{{minus_point}}</span>
					</div>
					<div></div>
					<div class="label-total h1">
						<span class="label label-danger">&nbsp;{{total_point}}</span>
					</div>
					<div></div>
					<div class="h5">
						<span class="label label-primary">&nbsp;{{percent}}%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="padd20"></div>
		<div class="seller-feedback-wrapper padd10 my-bg-transparent">
			<legend class="h1 w3-text-theme">Feedback and Comments</legend>
			<div class="seller-feedback">
				<div class="h3 page-header">
					<small class="pull-right">{{num_of_feedback}} comments</small>
				</div>
				<div class="pre-scrollable">
					<ul class="list-group padd10">
					{{#each feedbacks}}
						{{#if isPlus}}
						<li class="list-group-item list-group-item-success">
						{{else}}
						<li class="list-group-item list-group-item-danger">
						{{/if}}
							<div class="media">
								<p class="pull-right"><span class="badge "><span class="glyphicon {{#if isPlus}}glyphicon-plus{{else}}glyphicon-minus{{/if}}"></span></span></p>
								<a class="media-left" href="">
									<img class="avatar-comment img-circle" src="/assets/images/avatar.png">
								</a>
								<div class="media-body">
									<h4 class="media-heading user_name">{{from_id}}</h4>
									<p>{{comment}}</p>
									{{#if isWinner}}
									<p><small>( winner of auction: <a class="auction-feedback-link link-unstyled" href="/auction/{{cat_id}}/{{auc_id}}">{{auc_title}}</a> )</small></p>
									{{else}}
									<p><small>( Seller of auction: <a class="auction-feedback-link link-unstyled" href="/auction/{{cat_id}}/{{auc_id}}">{{auc_title}}</a> )</small></p>
									{{/if}}
									<span hidden class="date-string-span">{{date_string}}</span>
									<p><small>Send at: <span class="date-span"></span></small></p>
								</div>
							</div>
						</li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>