<!-- Modals-->
{{#if account_info}}
<div id="changePasswordModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="/dashboard/account-info/update-password" id="form-update-password">
					<div class="form-group">
						<label for="current_password">Current Password</label>
						<input type="password" id="current_password" name="current_password" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="new_password">New password</label>
						<input type="password" id="new_password" name="new_password" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="confirm_new_password">Confirm new password</label>
						<input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="btn-update-password" class="btn btn-success">Change</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="sellRequestModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Request to extend sell expired.</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="/dashboard/account-info/sell-request" id="form-sell-request">
					{{!-- <div class="form-group row">
						<label for="unit" class="col-xs-4">Unit: </label>
						<select name="unit" id="unit">
							<option value="1" selected>minutes</option>
							<option value="60">hours</option>
							<option value="1440">days</option>
						</select>
					</div>
					<div class="form-group row">
						<label for="number" class="col-xs-4">Number of unit: </label>
						<input type="number" step="1" min="1" name="number" id="number" required value="5">
					</div> --}}
					<div class="form-group row">
						<label for="content" class="col-xs-4">Content (*)</label>
						<textarea name="content" id="content" cols="30" rows="5" placeholder="content of request" required></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="btn-sell-request" class="btn btn-success">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

{{#if hasfeedback}}
<div id="feedbackModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Feedback about people you exchanged!</h4>
			</div>
			<div class="modal-body">
				<form id="form-send-feedback">
					<div class="form-group">
						<label class="radio-inline">
							<input type="radio" name="point" checked value="1"> good
						</label>
						<label class="radio-inline">
							<input type="radio" name="point" value="-1">
							bad
						</label>
					</div>
					<div class="form-group">
						<label for="comment">Comment (*)</label>
						<textarea class="form-control" name="comment" id="comment" required rows="3"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" class="btn btn-success btn-send-feedback">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

<!-- Modal feedback-->
<div id="dashboard-result-Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-success"></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>