<div id="panel-wrapper">
	<div class="panel panel-default">
		<div class="panel-heading w3-theme">Manage Profile</div>
		<div class="list-group">
			<a id="account-info" href="/dashboard/account-info" class="list-group-item w3-hover-theme {{#if account_info}}active{{/if}}">
				<span class="glyphicon glyphicon-user" style="color: blue;"></span> Account Info
			</a>
			<a id="feedback-info" href="/dashboard/feedback-info" class="list-group-item w3-hover-theme {{#if feedback_info}}active{{/if}}">
				<span class="glyphicon glyphicon-star" style="color: yellow;"></span> Feedback info
			</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading w3-theme">Manage Bid Auction</div>
		<div class="list-group">
			<a id="watch-list" href="/dashboard/watch-list" class="list-group-item w3-hover-theme {{#if watch_list}}active{{/if}}">
				<span class="glyphicon glyphicon-heart" style="color: red;"></span> Watchlist
			</a>
			<a id="bidding-list" href="/dashboard/bidding-list" class="list-group-item w3-hover-theme {{#if bidding_list}}active{{/if}}">
				<span class="glyphicon glyphicon-shopping-cart" style="color: green;"></span> Bidding list
			</a>
			<a id="win-list" href="/dashboard/win-list" class="list-group-item w3-hover-theme {{#if win_list}}active{{/if}}">
				<span class="glyphicon glyphicon-gift" style="color: blue;"></span> Win list
			</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading w3-theme">Manage Sell Auction</div>
		<div class="list-group">
			<a id="selling-list" href="/dashboard/selling-list" class="list-group-item w3-hover-theme {{#if selling_list}}active{{/if}}">
				<span class="glyphicon glyphicon-pushpin" style="color: red"></span> Selling
			</a>
			<a id="sold-list" href="/dashboard/sold-list" class="list-group-item w3-hover-theme {{#if sold_list}}active{{/if}}">
				<span class="glyphicon glyphicon-usd"></span> Sold
			</a>
		</div>
	</div>
</div>