<div class="panel-content-wrapper">
	<font class="title-content">Selling: {{total}} items</font>
	<hr>
	<div class="content-border">
	{{#each auctions}}
		<div class="item-detail row">
			<div class="item-detail-first col-sm-3 col-xs-12 auc-image">
				<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
			</div>
			<div class="item-detail-second col-sm-4 col-xs-12">
				<div class="item-name">
					<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_title}}}</a>
				</div>
				{{!-- <div class="mar-top10">
					<button disabled class="btn btn-danger" >
					<span class="glyphicon glyphicon-remove"></span> Delete</button>
				</div> --}}
			</div>
			<div class="item-detail-third col-sm-3 col-xs-12 my-text-date">
				<span class="hidden date-string-span">{{end_date_string}}</span>
				<span>End date: </span><span class="date-span"></span>
			</div>
			<div class="item-detail-fourth col-sm-2 col-xs-12">
				<div>
					<span class="my-text-money">{{formatCurrency current_price}}</span>
				</div>
				<div class="mar-top10">
					<span>{{auc_bids}} bids</span>
				</div>
				<div class="mar-top10">
				<span class="my-text-bidder">highest: {{#if has_bidder}}<a href="/seller/{{auc_highest_full_id}}">{{auc_highest_full_id}}</a>{{else}}NO ONE{{/if}}</span>
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</div>