<div class="panel-content-wrapper">
	<font class="title-content">Sold: {{total}} items</font>
	<hr>
	<div class="content-border">
	{{#each auctions}}
		<div class="item-detail row">
			<div class="item-detail-first col-sm-3 col-xs-12 auc-image">
				<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_image}}}</a>
			</div>
			<div class="item-detail-second col-sm-4 col-xs-12">
				<div class="item-name">
					<a href="/auction/{{cat_id}}/{{auc_id}}">{{{auc_title}}}</a>
				</div>
			</div>
			<div class="item-detail-third col-sm-2 col-xs-12">
				<span class="hidden date-string-span">{{end_date_string}}</span>
				<span class="date-span"></span>
			</div>
			<div class="item-detail-fourth col-sm-3 col-xs-12">
				<div>
					<span class="my-text-money">{{formatCurrency current_price}}</span>
				</div>
				<div class="mar-top10">
					<span>{{auc_bids}} bids</span>
				</div>
				<div class="mar-top10">
					winner: <a href="/seller/{{auc_highest_full_id}}">{{auc_highest_full_id}}</a>
				</div>
				<div class="mar-top10">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-action-href="/dashboard/sold-list/feedback-to-winner/{{auc_highest_full_id}}/{{auc_id}}">Feedback</button>
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</div>