<div class="panel-content-wrapper">
	<h1>Manage users</h1>
	<div class="row">
		<form method="post" action="/admin/manage-users/delete" id="frmDeleteAcc">
			<input type="hidden" name="id" id="txtDelAccId" style="margin-left: 100px;">
		</form>
		<form method="post" action="/admin/manage-users/resetPassword" id="frmResetPassword">
			<input type="hidden" name="account-id" id="txtAccountId" style="margin-left: 100px;">
		</form>
		<div class="col-md-4">
			<table class="table table-hover" style="width: 850px">
				<thead>
					<tr>
						<th>id</th>
						<th>fullname</th>
						<th>gender</th>
						{{!-- <th>birthday</th> --}}
						<th>email</th>
						<th>address</th>
						<th>phone</th>
						<th>level</th>
						<th>sell expired date</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{{#each account }}
					<tr>
						<td>{{id}}</td>
						<td>{{fullname}}</td>
						<td>{{gender}}</td>
						{{!-- <td>{{dob}}</td> --}}
						<td>{{email}}</td>
						<td>{{address}}</td>
						<td>{{phone}}</td>
						<td>{{level}}</td>
						<td>
							<span class="date-string-span" hidden>{{expired-date-string}}</span>
							<span class="date-span"></span>
						<td>
						<td>
							<a href="javascript:;" class="btn btn-xs btn-primary resetPassword" title="reset password" data-id="{{id}}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a href="javascript:;" class="btn btn-xs btn-danger removeAccount" data-id="{{id}}">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<!-- <a href="/manage-users/add" class="btn btn-primary" title="add">
		<span class="glyphicon glyphicon-plus"></span>
	</a> -->
</div>
</div>