

<div class="panel-content-wrapper">
	<h1>Manage categories</h1>
	<div class="row">
		<form method="post" action="/admin/manage-category/delete" id="frmDeleteCategory">
			<input type="hidden" name="id" id="txtDelCatId" style="margin-left: 200px;">
		</form>
		<div class="col-md-4">
			<table class="table table-hover" style="min-width: 900px;">
				<thead>
					<tr>
						<th style="width: 100px;">id</th>
						<th style="width: 300px;">name</th>
						<th style="width: 350px;">description</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{{#each categories }}
					<tr>
						<td>{{id}}</td>
						<td>{{name}}</td>
						<td>{{description}}</td>
						<td>
							<a href="/admin/manage-category/edit?id={{id}}" class="btn btn-xs btn-primary" title="edit">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a href="javascript:;" class="btn btn-xs btn-danger removeCategory" data-id="{{id}}">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<a href="/admin/manage-category/add" class="btn btn-primary" title="add">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
</div>
</div>
