<!-- Modal feedback-->
{{#if account_info}}
<div id="changePasswordModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<form method="post" id="form-changepass">
					<div class="form-group">
						<label for="current_pass">Current Password</label>
						<input type="password" id="current_pass" name="current_pass" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="new_pass">New password</label>
						<input type="password" id="new_pass" name="new_pass" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="confirm_new_pass">Confirm new password</label>
						<input type="password" id="confirm_new_pass" name="confirm_new_pass" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="submit" form="form-changepass" class="btn btn-success">Change</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{/if}}

