<div id="admin-panel-wrapper">
	<div class="panel panel-default">
		<!-- <div class="panel-heading w3-theme">Manage Profile</div> -->
		<a id="account-info" href="/admin/account-info" class="list-group-item w3-theme {{#if account_info}}active{{/if}}">
			<span class="glyphicon glyphicon-briefcase" style="color: blue;"></span> Manage Profile
		</a>
	</div>
	<div class="panel panel-default">
		<!-- <div class="panel-heading w3-theme">Manage Users</div> -->
		<a id="manage-users" href="/admin/manage-users" class="list-group-item w3-theme {{#if manage_users}}active{{/if}}">
			<span class="glyphicon glyphicon-user" style="color: red;"></span> Manage Users
		</a>
	</div>
	<div class="panel panel-default">
		<a id="manage-category" href="/admin/manage-category" class="list-group-item w3-theme {{#if manage_category}}active{{/if}}">
			<span class="glyphicon glyphicon-list-alt" style="color: green;"></span> Manage Category
		</a>
		<!-- <div class="panel-heading w3-theme">Manage Category</div> -->
	</div>
	<div class="panel panel-default">
		<a id="request" href="/admin/request" class="list-group-item w3-theme {{#if request}}active{{/if}}">
			<span class="glyphicon glyphicon-registration-mark" style="color: yellow;"></span> Request
		</a>
		<!-- <div class="panel-heading w3-theme">Request</div> -->
	</div>
</div>