{{#section 'title'}}
Request
{{/section}}
{{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/_css/dashboard.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/_js/admin-dashboard.js"></script>
{{/section}}

<div class="panel-content-wrapper">
	<h2>List of requests</h2>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<form method="post" action="/admin/acceptRequest" class="form-group" id="frmAcceptRequest">
				<input type="hidden" name="accountIdAccept" id = "txtAcceptRequest">
			</form>
			<form method="post" action="/admin/rejectRequest" class="form-group" id="frmRejectRequest">
				<input type="hidden" name="accountIdReject" id = "txtRejectRequest">
			</form>
			<table class="table table-hover" style="min-width: 900px;">
				<thead>
					<tr>
						<th style="width: 100px;">account id</th>
						<th style="width: 150px;">fullname</th>
						<th> content</th>
						<th style="width: 350px;">date</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{{#each account_sellrequest }}
					<tr>
						<td>{{account-id}}</td>
						<td>{{fullname}}</td>
						<td>{{content}}</td>
						<td>
							<span class="date-string-span" hidden>{{date_string}}</span>
							<span class="date-span"></span>
						</td>
						<td>
							<a href="javascript:;" class="btn btn-xs btn-primary acceptRequest" data-id="{{account-id}}" title="accept">
								<span class="glyphicon glyphicon-ok"></span>
							</a>
							<a href="javascript:;" class="btn btn-xs btn-danger rejectRequest" data-id="{{account-id}}" title="reject">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>